<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Education</title>
</head>
<body>
    <div class="pseudo_form" method="post" action="{%url 'add_student_academic_data'%}">
        College: <select type="College" list="Colleges" id="colleges-list" class="form-control" placeholder="Select..." name="college_id">
            {% for college_data in colleges_data%}
                <option value="{{college_data.college_id}}">{{college_data.college_name}}</option>
            {% endfor %}
        </select><br> 
        doa: <input type="date" name="doa"><br>
        semester: <input type="text" name="semester"><br>
        branch: <input type="text" name="branch"><br>
        department: <input type="text" name="department"><br>
        grno: <input type="text" name="grno"><br>
        <input type="submit" >
    </div>

    {% for error in errors%}
        {{error}}
    {% endfor %}
</body>
<script>

</script>

</html>