<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Data</title>
</head>
<body>
    {% for stu in student_data%}

        <p>Student name: {{ stu.student_name }}</p>
        <p>College name: {{ stu.student_college.college_name }}</p>
        <p>Adhar Number: {{ stu.student_ext_id }}</p>
        <p>Gr Number: {{ stu.student_grno }} </p>
    {% endfor %}

    <button><a href = "/logout">Log out</a></button>
</body>
</html>