<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Login</title>
</head>
<body>
    <form method="post" action="{%url 'college_login'%}">
        {% csrf_token %}
        <input type="text" name="college_username">
        <input type="password" name="college_password">
        <input type="submit">
        {% for error in errors%}
            {{error}}
        {% endfor %}
    </form>
</body>
</html>