<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Data</title>
</head>
<body>
    
    {% for data in student_data%}
        <p>Name: {{data.student_name}}</p>
        <p>Aadhaar Number: {{data.student_ext_id}}</p>
        <p>Current Internal Id: {{data.student_current_id}}</p>
        <p>Year: {{data.student_year}}</p>
        <p>Date of admission: {{data.student_admission_date}}</p>
        <p>College: {{data.student_college.college_name}}</p>
        <p>Branch: {{data.student_branch}}</p>
        <p>Department: {{data.student_department}}</p>
        <p>Cgpa: {{data.student_cgpa}}</p>

    {% endfor %}
</body>
</html>